@font-face {
    font-family: 'PlaypenSans';
    src: url(/Fuente/static/PlaypenSans-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}
body {
    font-family: PlaypenSans;
    font-weight: bold;
}
/* Reset */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "PlaypenSans";
}
.cabecera{
    padding: 10px;
    background: #fee97f;
}
/* Titulo y buscador */
.titulonav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}
.titulo{
    font-size: 3em;
    color: #3a414a;
}
.barra-busqueda{
    padding: 25px;
}
    /* Navegacion principal */
.navegacion{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5px
}
.item{
    margin: 5px;
    padding: 5px;
    border: 10px #6f7681;
    background: #b2dfdb;
    font-size: 20px;
    width: 160px;
    height: 30px;
    text-align: center;
}
.item a{
    text-decoration: none;
    color: #333333;
}