
 /* formulario de contacto */

.titulomain{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px ;
    font-size: 3em;
    color: #3a414a;
    margin-bottom: 80px;

}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.inline {
    display: inline;
    padding: 5px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    border-radius:  70px solid color black;
}

.comentario{
    display: flex;
    position:relative;
    right: 200px;
    
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;

}
